params {
    // Input data paths
    tiff = "s3://tiffimage/tiffimage/lungstiff.tif"
    h5 = ""
    
    // SRA download parameters (optional)
    sra_ids = "GSE200972"

    
    // Output directory
    outdir = "s3://tiffimage/results/"
}

docker {
    enabled = true
}

wave {
    enabled = true
}

process {
    executor = 'awsbatch'
    
    // Use ECR container instead of Wave container with underscores
    container = '644685128986.dkr.ecr.us-east-1.amazonaws.com/seqera/container-spatial:latest'
    
    // Default resources
    cpus = 2
    memory = '4 GB'
    time = '2h'
    
    // Process-specific resource configurations
    withName: PREPROCESS_IMAGE {
        cpus = 2
        memory = '20 GB'  // Increased from 8GB to handle large TIFF images (14+ GiB)
    }
    
    withName: CELLPOSE_SEGMENT {
        cpus = 4
        memory = '16 GB'
        time = '4h'
    }
    
    withName: AI_ROI_CROP {
        cpus = 2
        memory = '8 GB'
    }
    
    withName: SCRNA_QC {
        cpus = 1
        memory = '4 GB'
    }
    
    withName: SCRNA_MAD_FILTER {
        cpus = 1
        memory = '4 GB'
    }
    
    withName: SCRNA_DIM_REDUCTION {
        cpus = 2
        memory = '8 GB'
    }
    
    withName: SCRNA_CLUSTER {
        cpus = 2
        memory = '8 GB'
    }
    
    withName: SCRNA_ANNOTATE {
        cpus = 2
        memory = '8 GB'
        time = '3h'
    }
    
    withName: SPATIAL_REFINE {
        cpus = 2
        memory = '8 GB'
    }
    
    withName: SPATIAL_INTEGRATION {
        cpus = 2
        memory = '8 GB'
    }
    
    withName: 'SCRNA_PLOTS|SPATIAL_PLOTS|REPORT' {
        cpus = 1
        memory = '4 GB'
    }
    
    withName: SRA_DOWNLOAD {
        cpus = 4
        memory = '8 GB'
        time = '6h'
    }
    
    withName: FASTQ_TO_H5AD {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }
}

aws {
    region = 'us-east-1'
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
    client {
        maxConnections = 20
        connectionTimeout = 300000
        uploadStorageClass = 'INTELLIGENT_TIERING'
        storageEncryption = 'AES256'
    }
}

// S3 optimization
env {
    AWS_DEFAULT_REGION = 'us-east-1'
    AWS_MAX_ATTEMPTS = '3'
    AWS_RETRY_MODE = 'adaptive'
}
